@page "/playstationGames"

@inject IPlaystationService PlaystationService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

@if(!IsTokenValid)
{
    <MudPaper>
        <MudTextField Class="pa-2" @bind-Value="Npsso" Immediate="true" Label="Npsso" />
        <div class="pa-2 d-flex align-center justify-space-between">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="RefreshToken">Refresh token</MudButton>
        </div>
    </MudPaper>
}

<SimpleGamesComponent Options="SimpleGamesComponentOptions"
                      Games="SimpleGames"
                      LoadGame="LoadPlaystationGames"
                      AddGame="AddPlaystationGame"
                      IgnoreGame="IgnorePlaystationGame">
</SimpleGamesComponent>


@code {
    private List<SimpleGame> SimpleGames { get; set; } = [];
    private List<PlaystationGameDto> PlaystationGameDtos { get; set; } = [];
    private SimpleGamesComponentOptions SimpleGamesComponentOptions { get; set; } = new()
    {
        Title = "Jeux playstation à récupérer",
        HasColumnPlatform = true
    };
    private string Npsso { get; set; } = string.Empty;
    private bool IsTokenValid { get; set; } = true;

    private async Task LoadPlaystationGames()
    {
        var getMissingPlaystationGamesResult = await PlaystationService.GetMissingPlaystationGames();
        if (getMissingPlaystationGamesResult.IsSucceed)
        {
            PlaystationGameDtos = getMissingPlaystationGamesResult.Result!;
            SimpleGames = PlaystationGameDtos.Select(sg => sg.ToGameLoader()).ToList();
        }
        else if (getMissingPlaystationGamesResult.HttpStatusCode == HttpStatusCode.Unauthorized)
        {
            IsTokenValid = false;
        }
    }

    private async Task AddPlaystationGame(SimpleGame playstationGame)
    {
        var steamGameDto = FindPlaystationGame(playstationGame);
        var addPlaystationGameResult = await PlaystationService.AddPlaystationGame(steamGameDto);
        if (addPlaystationGameResult.IsSucceed)
        {
            Snackbar.Add($"Le jeu {playstationGame.Name} a bien été ajouté à votre bibliothèque.", Severity.Success);
            PlaystationGameDtos.Remove(steamGameDto);
        }
        else if (addPlaystationGameResult.HttpStatusCode == HttpStatusCode.Unauthorized)
        {
            IsTokenValid = false;
        }
    }

    private async Task IgnorePlaystationGame(SimpleGame steamGame)
    {
        var steamGameDto = FindPlaystationGame(steamGame);
        var ignorePlaystationGameResult = await PlaystationService.IgnorePlaystationGame(steamGameDto, true);
        if (ignorePlaystationGameResult.IsSucceed)
        {
            Snackbar.Add($"Le jeu {steamGame.Name} a bien été ignoré.", Severity.Success);
            PlaystationGameDtos.Remove(steamGameDto);
        }
        else if (ignorePlaystationGameResult.HttpStatusCode == HttpStatusCode.Unauthorized)
        {
            IsTokenValid = false;
        }
    }

    private async Task RefreshToken()
    {
        var refreshTokenResponse = await PlaystationService.RefreshToken(Npsso);
        if (refreshTokenResponse.IsSucceed)
        {
            IsTokenValid = true;
            NavigationManager.ReloadPage();
        }
    }

    private PlaystationGameDto FindPlaystationGame(SimpleGame gameLoader) => PlaystationGameDtos.First(sg => sg.PlaystationId == gameLoader.Id);
}
